@mixin baseVar() {
  --color-white: white;
  --color-white-rgb: 255, 255, 255;
  --color-white-1: #f4f4f5;
  --color-white-2: #e4e4e7;
  --color-white-alpha-1: rgba(255, 255, 255, 0.8);
  --color-white-alpha-2: rgba(255, 255, 255, 0.75);
  --color-white-alpha-3: rgba(255, 255, 255, 0.5);
  --color-white-alpha-4: rgba(255, 255, 255, 0.35);
  --color-white-alpha-5: rgba(255, 255, 255, 0.25);
  --color-white-alpha-6: rgba(255, 255, 255, 0.15);
  --color-white-alpha-7: rgba(255, 255, 255, 0.1);
  --color-white-alpha-8: rgba(255, 255, 255, 0.05);

  --color-black: black;
  --color-black-rgb: 0, 0, 0;
  --color-black-1: #0a0a0a;
  --color-black-2: #1f1f22;
  --color-black-alpha-1: rgba(0, 0, 0, 0.8);
  --color-black-alpha-2: rgba(0, 0, 0, 0.75);
  --color-black-alpha-3: rgba(0, 0, 0, 0.5);
  --color-black-alpha-4: rgba(0, 0, 0, 0.35);
  --color-black-alpha-5: rgba(0, 0, 0, 0.25);
  --color-black-alpha-6: rgba(0, 0, 0, 0.15);
  --color-black-alpha-7: rgba(0, 0, 0, 0.1);
  --color-black-alpha-8: rgba(0, 0, 0, 0.05);

  // 功能色
  --color-info: #1a73e8; // 信息
  --color-info-rgb: 26, 115, 232; // 信息 RGB
  --color-success: #34a853; // 成功
  --color-success-rgb: 52, 168, 83; // 成功 RGB
  --color-warning: #fbbc04; // 警告
  --color-warning-rgb: 251, 188, 4; // 警告 RGB
  --color-error: #ea4335; // 错误
  --color-error-rgb: 234, 67, 53; // 错误 RGB
  --color-bg-error: rgba(234, 68, 53, 0.25); // 错误
  --color-bg-error-hover: rgba(234, 68, 53, 0.5); // 错误
  --color-bg-error-focus: rgba(234, 68, 53, 0.1); // 错误
}

@mixin light() {
  // 主题模式变量
  // 1. 基础色板
  // --color-primary: #1a73e8; // 主色
  // --color-secondary: #5f6368; // 次要色
  // --color-accent: #1967d2; // 强调色

  // 2. 文本颜色
  --text-primary: var(--color-black); // 主要文本
  --text-secondary: #5f6973; // 次要文本
  --text-tertiary: #4c5258; // 第三级文本
  --text-muted: #353637; // 减弱/辅助文本
  --text-disabled: var(--color-black-alpha-4); // 禁用文本
  --text-inverse: var(--color-white); // 反色文本

  // 3. 背景颜色
  --bg-base: #f4f4f5; // 基础背景
  --bg-primary: var(--color-white); // 主色背景
  --bg-primary-inverse: var(--color-black); // 反色主色背景
  --bg-secondary: var(--color-white-alpha-3); // 提升层级背景
  --bg-overlay: var(--color-black-alpha-3); // 遮罩层背景
  --bg-disabled: var(--color-black-alpha-8); // 禁用背景

  // 4. 边框颜色
  --border-color: #ced2d6; // 默认边框
  --border-primary: var(--border-color); // 主色边框
  --border-secondary: #52525b; // 次要边框
  --border-disabled-color: #ced2d6; // 默认边框

  // 5. 状态颜色
  --state-hover: var(--color-black-alpha-7); // 悬浮状态
  --state-active: var(--color-black-alpha-5); // 激活状态
  --state-selected: var(--color-black-alpha-6); // 选中状态

  // 6. UI 组件特定颜色
  --ui-common-bg: var(--bg-base); // 输入框背景
  --ui-drawer-bg: var(--color-white); // 抽屉组件背景
  --ui-modal-bg: #f8fafc; // 模态框背景
  --ui-border-box-shadow: var(--color-black-alpha-5); // 边框
  --ui-placeholder-color: var(--color-black-alpha-4); // 占位符颜色
  --ui-popconfirm-color: var(--color-white);
  --ui-popconfirm-shadow:
    0 3px 6px -4px rgba(var(--color-black-rgb), 0.12),
    0 6px 16px 0 rgba(var(--color-black-rgb), 0.08),
    0 9px 28px 8px rgba(var(--color-black-rgb), 0.05);

  // 7. 交互元素颜色
  --interactive-default: var(--text-secondary); // 默认状态
  --interactive-hover: var(--text-primary); // 悬浮状态
  --interactive-active: var(--text-primary); // 激活状态
  --interactive-bg-default: var(--bg-primary); // 默认状态
  --interactive-bg-hover: var(--color-black-alpha-8); // 悬浮状态
  --interactive-bg-active: var(--color-black-alpha-7); // 激活状态
  --interactive-bg-logo: var(--color-black-alpha-7);

  // 8. 链接颜色
  --link-color: #1a73e8;
  --link-hover-color: #185abc;
  --link-visited-color: #681da8;

  // 9. 滑块颜色
  --slider-rail-bg: #d1d5db; // 滑块轨道背景
  --slider-thumb-bg: var(--color-white); // 滑块按钮背景

  // 10. 滚动条颜色
  --scrollbar-thumb: rgba(193, 193, 193, 0.6);
  --scrollbar-thumb-hover: rgba(168, 168, 168, 0.75);

  // 11. Tabs tab
  --tab-bg-default: var(--bg-primary); // 默认状态
  --tab-bg-hover: var(--color-black-alpha-8); // 悬浮状态
  --tab-bg-active: var(--color-black-alpha-7); // 激活状态

  // 12. Aside Menu
  --aside-menu-bg-default: var(--bg-primary); // 默认状态
  --aside-menu-bg-hover: var(--color-black-alpha-8); // 悬浮状态
  --aside-menu-bg-active: var(--color-black-alpha-7); // 激活状态
}

@mixin dark() {
  // 主题模式变量
  // 1. 基础色板
  // --color-primary: #1a73e8; // 主色
  // --color-secondary: #5f6368; // 次要色
  // --color-accent: #1967d2; // 强调色

  // 2. 文本颜色
  --text-primary: var(--color-white); // 主要文本
  --text-secondary: #a1a1aa; // 次要文本
  --text-tertiary: #80909e; // 第三级文本
  --text-muted: #ced7e0; // 减弱/辅助文本
  --text-disabled: var(--color-white-alpha-4); // 禁用文本
  --text-inverse: var(--color-black); // 反色文本

  // 3. 背景颜色
  --bg-base: #101011; // 基础背景
  --bg-primary: var(--color-black); // 主色背景
  --bg-primary-inverse: var(--color-white); // 主色背景
  --bg-secondary: var(--color-black-alpha-3); // 提升层级背景
  --bg-overlay: var(--color-white-alpha-3); // 遮罩层背景
  --bg-disabled: var(--color-white-alpha-8); // 禁用背景

  // 4. 边框颜色
  --border-color: #454d56; // 默认边框
  --border-primary: var(--border-color); // 主色边框
  --border-secondary: #52525b; // 次要边框
  --border-disabled-color: #454d56; // 默认边框

  // 5. 状态颜色
  --state-hover: var(--color-white-alpha-7); // 悬浮状态
  --state-active: var(--color-white-alpha-5); // 激活状态
  --state-selected: var(--color-white-alpha-6); // 选中状态

  // 6. UI 组件特定颜色
  --ui-common-bg: #141415; // 输入框背景
  --ui-drawer-bg: #17191c; // 抽屉组件背景
  --ui-modal-bg: #1f1f22; // 模态框背景
  --ui-border-box-shadow: var(--color-white-alpha-5); // 边框
  --ui-placeholder-color: var(--color-white-alpha-4); // 占位符颜色
  --ui-popconfirm-color: var(--color-black-2); // 弹出确认背景
  --ui-popconfirm-shadow:
    0 3px 6px -4px rgba(var(--color-white-rgb), 0.12),
    0 6px 16px 0 rgba(var(--color-white-rgb), 0.08),
    0 0 24px 8px rgba(var(--color-white-rgb), 0.05);

  // 7. 交互元素颜色
  --interactive-default: var(--text-secondary); // 默认状态
  --interactive-hover: var(--text-primary); // 悬浮状态
  --interactive-active: var(--text-primary); // 激活状态
  --interactive-bg-default: #27272a; // 默认状态
  --interactive-bg-hover: var(--color-white-alpha-7); // 悬浮状态
  --interactive-bg-active: var(--color-black-alpha-3); // 激活状态
  --interactive-bg-logo: var(--color-white-alpha-4);

  // 8. 链接颜色
  --link-color: #8ab4f8;
  --link-hover-color: #aecbfa;
  --link-visited-color: #c5a3ff;

  // 9. 滑块颜色
  --slider-rail-bg: #4b5563; // 滑块轨道背景
  --slider-thumb-bg: var(--color-white); // 滑块按钮背景

  // 10. 滚动条颜色
  --scrollbar-thumb: rgba(104, 104, 104, 0.5);
  --scrollbar-thumb-hover: rgba(123, 123, 123, 0.65);

  // 11. TabBar tab
  --tab-bg-default: #27272a; // 默认状态
  --tab-bg-hover: var(--color-white-alpha-7); // 悬浮状态
  --tab-bg-active: var(--color-black-alpha-3); // 激活状态

  // 12. Aside Menu
  --aside-menu-bg-default: var(--bg-primary); // 默认状态
  --aside-menu-bg-hover: var(--color-black-alpha-8); // 悬浮状态
  --aside-menu-bg-active: var(--color-black-alpha-7); // 激活状态
}
